.cover{
	font-family: 'Lato', sans-serif;
	background:url("../img/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    color:white;
    height: 1000px;
}

.main
{
	margin-top: 30%;
}
